<div class="column-layout page-content">
  <div class="column-layout inner-pages-header">
    <img src="/assets/AutoDeals_Logo.svg" class="image" />
    <p class="text">
      Enjoy 20% off on all your weekend purchases
    </p>
  </div>
  <div class="row-layout content">
    <div class="row-layout group">
      <div class="column-layout filters">
        <div class="column-layout group_1">
          <p class="ig-typography__subtitle-2 text_1">
            CATEGORY
          </p>
          <igx-list class="list">
            <igx-list-item [isHeader]="false">
              <span igxListLineTitle>General Body Parts</span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListLineTitle>Lighting</span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListLineTitle>Engine &amp; Drivetrain</span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListLineTitle>Break &amp; Suspension</span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListLineTitle>Interior</span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListLineTitle>Exterior</span>
            </igx-list-item>
          </igx-list>
          <a target="_blank" class="ig-typography__body-2 hyperlink">
            Show All
          </a>
        </div>
        <div class="column-layout group_1">
          <p class="ig-typography__subtitle-2 text_1">
            PRICE
          </p>
          <igx-list class="list">
            <igx-list-item [isHeader]="false">
              <span igxListLineTitle>$1 - $10</span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListLineTitle>$10 - $20</span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListLineTitle>$20 - $50</span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListLineTitle>$50 - $100</span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListLineTitle>$100 and Up</span>
            </igx-list-item>
          </igx-list>
          <a target="_blank" class="ig-typography__body-2 hyperlink">
            Show All
          </a>
        </div>
        <div class="column-layout group_1">
          <p class="ig-typography__subtitle-2 text_1">
            BRAND
          </p>
          <igx-list class="list">
            <igx-list-item [isHeader]="false">
              <span igxListLineTitle>Anzo</span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListLineTitle>Dorman</span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListLineTitle>Hella</span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListLineTitle>Keystone Collision</span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListLineTitle>Pilot Certified</span>
            </igx-list-item>
          </igx-list>
          <a target="_blank" class="ig-typography__body-2 hyperlink">
            Show All
          </a>
        </div>
      </div>
      <div class="column-layout products">
        <div class="row-layout group_2">
          <h5 class="content_1">
            Newest Arrivals
          </h5>
          <div class="row-layout group_3">
            <p class="content_1">
              1-6 OF 202 RESULTS
            </p>
            <button igxButton="flat" igxRipple [igxToggleAction]="dropdown" class="button">
              <span>SORT BY</span>
              <igx-icon>
                keyboard_arrow_down
              </igx-icon>
            </button>
            <igx-drop-down #dropdown class="dropdown">
              <igx-drop-down-item>
                Newest Arrivals
              </igx-drop-down-item>
              <igx-drop-down-item>
                Featured
              </igx-drop-down-item>
              <igx-drop-down-item>
                Price: Low to High
              </igx-drop-down-item>
              <igx-drop-down-item>
                Price: High to Low
              </igx-drop-down-item>
              <igx-drop-down-item>
                Avg. Customer Review
              </igx-drop-down-item>
            </igx-drop-down>
          </div>
        </div>
        <div class="row-layout group_4">
          <igx-card type="outlined" routerLink="/product-details" class="card">
            <igx-card-media height="210px">
              <img src="/assets/Alternator1.jpg" class="image_1" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Gold Alternator
              </h3>
              <h5 igxCardHeaderSubtitle>
                This is a brief product description, not longer than 2 lines of text.
              </h5>
            </igx-card-header>
            <igx-card-content class="body-content">
              <h6 class="h6">
                $59.90
              </h6>
            </igx-card-content>
            <igx-card-actions class="actions-content">
              <button igxButton="flat" igxRipple class="button_1">
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
                <span>ADD TO CART</span>
              </button>
            </igx-card-actions>
          </igx-card>
          <igx-card type="outlined" class="card">
            <igx-card-media height="210px">
              <img src="/assets/Depositphotos_91150104_l-2015.jpg" class="image_1" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Tail Lamp Assembly
              </h3>
              <h5 igxCardHeaderSubtitle>
                This is a brief product description, not longer than 2 lines of text.
              </h5>
            </igx-card-header>
            <igx-card-content class="body-content">
              <h6 class="h6">
                $19.90
              </h6>
            </igx-card-content>
            <igx-card-actions class="actions-content">
              <button igxButton="flat" igxRipple class="button_1">
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
                <span>ADD TO CART</span>
              </button>
            </igx-card-actions>
          </igx-card>
          <igx-card type="outlined" class="card">
            <igx-card-media height="210px">
              <img src="/assets/Depositphotos_39703145_l-2015.jpg" class="image_1" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Spark Plugs
              </h3>
              <h5 igxCardHeaderSubtitle>
                This is a brief product description, not longer than 2 lines of text.
              </h5>
            </igx-card-header>
            <igx-card-content class="body-content">
              <h6 class="h6">
                $11.00
              </h6>
            </igx-card-content>
            <igx-card-actions class="actions-content">
              <button igxButton="flat" igxRipple class="button_1">
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
                <span>ADD TO CART</span>
              </button>
            </igx-card-actions>
          </igx-card>
          <igx-card type="outlined" class="card">
            <igx-card-media height="210px">
              <img src="/assets/Depositphotos_20993125_l-2015.jpg" class="image_1" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Oil Filters
              </h3>
              <h5 igxCardHeaderSubtitle>
                This is a brief product description, not longer than 2 lines of text.
              </h5>
            </igx-card-header>
            <igx-card-content class="body-content">
              <h6 class="h6">
                $24.50
              </h6>
            </igx-card-content>
            <igx-card-actions class="actions-content">
              <button igxButton="flat" igxRipple class="button_1">
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
                <span>ADD TO CART</span>
              </button>
            </igx-card-actions>
          </igx-card>
          <igx-card type="outlined" class="card">
            <igx-card-media height="210px">
              <img src="/assets/Depositphotos_7243970_l-2015.jpg" class="image_1" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Engine pistons and cog
              </h3>
              <h5 igxCardHeaderSubtitle>
                This is a brief product description, not longer than 2 lines of text.
              </h5>
            </igx-card-header>
            <igx-card-content class="body-content">
              <h6 class="h6">
                $32.90
              </h6>
            </igx-card-content>
            <igx-card-actions class="actions-content">
              <button igxButton="flat" igxRipple class="button_1">
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
                <span>ADD TO CART</span>
              </button>
            </igx-card-actions>
          </igx-card>
          <igx-card type="outlined" class="card">
            <igx-card-media height="210px">
              <img src="/assets/Depositphotos_114068560_l-2015.jpg" class="image_1" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Winter tires set
              </h3>
              <h5 igxCardHeaderSubtitle>
                This is a brief product description, not longer than 2 lines of text.
              </h5>
            </igx-card-header>
            <igx-card-content class="body-content">
              <h6 class="h6">
                $44.50
              </h6>
            </igx-card-content>
            <igx-card-actions class="actions-content">
              <button igxButton="flat" igxRipple class="button_1">
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
                <span>ADD TO CART</span>
              </button>
            </igx-card-actions>
          </igx-card>
          <igx-card type="outlined" class="card">
            <igx-card-media height="210px">
              <img src="/assets/Depositphotos_15825769_l-2015.jpg" class="image_1" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Carboxylic bumper
              </h3>
              <h5 igxCardHeaderSubtitle>
                This is a brief product description, not longer than 2 lines of text.
              </h5>
            </igx-card-header>
            <igx-card-content class="body-content">
              <h6 class="h6">
                $49.90
              </h6>
            </igx-card-content>
            <igx-card-actions class="actions-content">
              <button igxButton="flat" igxRipple class="button_1">
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
                <span>ADD TO CART</span>
              </button>
            </igx-card-actions>
          </igx-card>
          <igx-card type="outlined" class="card">
            <igx-card-media height="210px">
              <img src="/assets/Depositphotos_63371615_l-2015.jpg" class="image_1" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Battery
              </h3>
              <h5 igxCardHeaderSubtitle>
                This is a brief product description, not longer than 2 lines of text.
              </h5>
            </igx-card-header>
            <igx-card-content class="body-content">
              <h6 class="h6">
                $24.95
              </h6>
            </igx-card-content>
            <igx-card-actions class="actions-content">
              <button igxButton="flat" igxRipple class="button_1">
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
                <span>ADD TO CART</span>
              </button>
            </igx-card-actions>
          </igx-card>
          <igx-card type="outlined" class="card">
            <igx-card-media height="210px">
              <img src="/assets/Depositphotos_79651016_l-2015.jpg" class="image_1" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Car Wheel
              </h3>
              <h5 igxCardHeaderSubtitle>
                This is a brief product description, not longer than 2 lines of text.
              </h5>
            </igx-card-header>
            <igx-card-content class="body-content">
              <h6 class="h6">
                $59.90
              </h6>
            </igx-card-content>
            <igx-card-actions class="actions-content">
              <button igxButton="flat" igxRipple class="button_1">
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
                <span>ADD TO CART</span>
              </button>
            </igx-card-actions>
          </igx-card>
          <igx-card type="outlined" class="card">
            <igx-card-media height="210px">
              <img src="/assets/Depositphotos_51128759_l-2015.jpg" class="image_1" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Chrome exhaust pipe
              </h3>
              <h5 igxCardHeaderSubtitle>
                This is a brief product description, not longer than 2 lines of text.
              </h5>
            </igx-card-header>
            <igx-card-content class="body-content">
              <h6 class="h6">
                $34.50
              </h6>
            </igx-card-content>
            <igx-card-actions class="actions-content">
              <button igxButton="flat" igxRipple class="button_1">
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
                <span>ADD TO CART</span>
              </button>
            </igx-card-actions>
          </igx-card>
          <igx-card type="outlined" class="card">
            <igx-card-media height="210px">
              <img src="/assets/Depositphotos_12011807_l-2015.jpg" class="image_1" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Headlight Assembly
              </h3>
              <h5 igxCardHeaderSubtitle>
                This is a brief product description, not longer than 2 lines of text.
              </h5>
            </igx-card-header>
            <igx-card-content class="body-content">
              <h6 class="h6">
                $49.50
              </h6>
            </igx-card-content>
            <igx-card-actions class="actions-content">
              <button igxButton="flat" igxRipple class="button_1">
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
                <span>ADD TO CART</span>
              </button>
            </igx-card-actions>
          </igx-card>
          <igx-card type="outlined" class="card">
            <igx-card-media height="210px">
              <img src="/assets/Depositphotos_303215620_l-2015.jpg" class="image_1" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Braking Discs
              </h3>
              <h5 igxCardHeaderSubtitle>
                This is a brief product description, not longer than 2 lines of text.
              </h5>
            </igx-card-header>
            <igx-card-content class="body-content">
              <h6 class="h6">
                $21.99
              </h6>
            </igx-card-content>
            <igx-card-actions class="actions-content">
              <button igxButton="flat" igxRipple class="button_1">
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
                <span>ADD TO CART</span>
              </button>
            </igx-card-actions>
          </igx-card>
        </div>
        <div class="row-layout group_5">
          <div class="row-layout group_6">
            <button igxButton="flat" igxRipple class="button">
              <igx-icon>
                arrow_back
              </igx-icon>
              <span>PREVIOUS</span>
            </button>
            <igx-buttongroup class="button-group">
              <button igxButton="flat" igxRipple>
                1
              </button>
              <button igxButton="flat" igxRipple>
                2
              </button>
              <button igxButton="flat" igxRipple>
                3
              </button>
              <button igxButton="flat" igxRipple>
                4
              </button>
              <button igxButton="flat" igxRipple>
                5
              </button>
            </igx-buttongroup>
            <button igxButton="flat" igxRipple class="button">
              <span>NEXT</span>
              <igx-icon>
                arrow_forward
              </igx-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-layout sitemap">
    <div class="column-layout group_7">
      <p class="ig-typography__subtitle-2 text_1">
        Contact Us
      </p>
      <p class="ig-typography__body-2 text_1">
        1234 Street Name, CityName, ST
      </p>
      <p class="ig-typography__body-2 text_1">
         10520 United States
      </p>
      <p class="ig-typography__subtitle-2 text_2">
        Phone Number
      </p>
      <p class="ig-typography__body-2 text_1">
        1-234-567-8901
      </p>
    </div>
    <div class="column-layout group_8">
      <p class="ig-typography__subtitle-2 text_1">
        Help
      </p>
      <p class="ig-typography__body-2 text_1">
        FAQ
      </p>
      <p class="ig-typography__body-2 text_1">
        Returns
      </p>
      <p class="ig-typography__body-2 text_1">
        Coupons &amp; Discounts
      </p>
      <p class="ig-typography__body-2 text_1">
        Shipping &amp; Returns
      </p>
    </div>
    <div class="column-layout group_8">
      <p class="ig-typography__subtitle-2 text_1">
        About Us
      </p>
      <p class="ig-typography__body-2 text_1">
        Company Info
      </p>
      <p class="ig-typography__body-2 text_1">
        Press Releases
      </p>
      <p class="ig-typography__body-2 text_1">
        Careers
      </p>
      <p class="ig-typography__body-2 text_1">
        Reviews
      </p>
    </div>
    <div class="column-layout group_8">
      <p class="ig-typography__subtitle-2 text_1">
        Services
      </p>
      <p class="ig-typography__body-2 text_1">
        Buy Online
      </p>
      <p class="ig-typography__body-2 text_1">
        In-Store
      </p>
      <p class="ig-typography__body-2 text_1">
        Repair Help
      </p>
      <p class="ig-typography__body-2 text_1">
        Find a Repair Shop
      </p>
    </div>
    <div class="column-layout group_8">
      <p class="ig-typography__subtitle-2 text_1">
        Blog
      </p>
      <p class="ig-typography__body-2 text_1">
        Car Building Basics
      </p>
      <p class="ig-typography__body-2 text_1">
        Do it Yourself
      </p>
      <p class="ig-typography__body-2 text_1">
        Your Home Workshop
      </p>
      <p class="ig-typography__body-2 text_1">
        Advanced Bulding
      </p>
    </div>
  </div>
  <div class="row-layout footer">
    <p class="ig-typography__body-2 text_3">
      Copyright ©2021 AutoShop.com, Inc. All Rights Reserved.
    </p>
    <div class="row-layout group_9">
      <p class="ig-typography__body-2 text_4">
        Terms of Use
      </p>
      <p class="ig-typography__body-2 text_4">
        Privacy Policy
      </p>
      <p class="ig-typography__body-2 text_4">
        Site Map
      </p>
    </div>
  </div>
</div>
