<div class="column-layout page-content">
  <div class="column-layout inner-pages-header">
    <img src="/assets/AutoDeals_Logo.svg" class="image" />
    <p class="text">
      Enjoy 20% off on all your weekend purchases
    </p>
  </div>
  <div class="column-layout content">
    <div class="column-layout group">
      <div class="row-layout breadcrumbs">
        <a target="_self" class="ig-typography__body-2 hyperlink">
          Home
        </a>
        <p class="ig-typography__body-2 text_1">
          /
        </p>
        <a target="_self" class="ig-typography__body-2 hyperlink">
          Auto Body Parts
        </a>
        <p class="ig-typography__body-2 text_1">
          /
        </p>
        <a target="_self" class="ig-typography__body-2 hyperlink_1">
          Engine &amp; Drivetrain
        </a>
        <p class="ig-typography__body-2 text_1">
          /
        </p>
        <a target="_self" class="ig-typography__body-2 hyperlink_1">
          Starters, Alternators, Batteries &amp; Components
        </a>
        <p class="ig-typography__body-2 text_1">
          /
        </p>
        <p class="ig-typography__body-2 text_2">
          Alternator
        </p>
      </div>
      <div class="row-layout product-details">
        <div class="column-layout group_1">
          <div class="group_2"></div>
          <div class="group_3"></div>
          <div class="group_4"></div>
        </div>
        <div class="row-layout group_5">
          <img src="/assets/Alternator1.jpg" class="image_1" />
        </div>
        <div class="column-layout group_6">
          <h5 class="content_1">
            Gold Alternator

          </h5>
          <div class="row-layout group_7">
            <igc-rating [(ngModel)]="value" size="medium" class="rating"></igc-rating>
            <a target="_self" class="ig-typography__body-2 hyperlink_2">
              (2 customer reviews)
            </a>
          </div>
          <h4 class="content_4">
            $59.90
          </h4>
          <p class="ig-typography__subtitle-1 text_3">
            Part #ABC123-456789 | SKU: A1234-01
          </p>
          <a target="_self" class="ig-typography__body-2 hyperlink_3">
            Limited Lifetime Warranty
          </a>
          <p class="ig-typography__body-2 text_4">
            Generic Brand alternators are engineered to provide the amp output necessary to power today’s vehicles. Every unit is 100% NEW (not remanufactured) and made with proprietary components and processes to ensure maximum life and performance.
          </p>
          <igx-badge type="success" value="IN STOCK" class="badge"></igx-badge>
          <div class="row-layout group_8">
            <igx-select type="box" value="1" class="select">
              <igx-select-item value="1" [selected]="true">
                1
              </igx-select-item>
              <igx-select-item value="1" [selected]="true">
                2
              </igx-select-item>
              <igx-select-item value="1" [selected]="true">
                3
              </igx-select-item>
              <igx-select-item value="1" [selected]="true">
                4
              </igx-select-item>
              <label igxLabel>Quantitiy</label>
            </igx-select>
          </div>
          <p class="ig-typography__body-2 content_1">
            Select delivery option:
          </p>
          <igx-buttongroup class="button-group">
            <button igxButton="flat" igxRipple>
              <igx-icon>
                store_mall_directory
              </igx-icon>
              <p>Free In-Store Pickup</p>
            </button>
            <button igxButton="flat" igxRipple>
              <igx-icon>
                home
              </igx-icon>
              <p>Home Delivery</p>
            </button>
          </igx-buttongroup>
          <button igxButton="raised" igxRipple class="button">
            <igx-icon>
              shopping_cart
            </igx-icon>
            <span>ADD TO CART</span>
          </button>
        </div>
      </div>
      <div class="row-layout product-info">
        <div class="column-layout specs">
          <h5 class="content_2">
            Product Specifications
          </h5>
          <div class="column-layout table">
            <div class="row-layout group_9">
              <p class="text_5">
                Part #  
              </p>
              <p class="text_2">
                ABC123-456789
              </p>
            </div>
            <div class="row-layout group_10">
              <p class="text_5">
                SKU #  
              </p>
              <p class="text_2">
                740988
              </p>
            </div>
            <div class="row-layout group_9">
              <p class="text_5">
                Weight
              </p>
              <p class="text_2">
                10 lbs
              </p>
            </div>
            <div class="row-layout group_10">
              <p class="text_5">
                Type
              </p>
              <p class="text_2">
                Alternator
              </p>
            </div>
            <div class="row-layout group_9">
              <p class="text_5">
                System Voltage  
              </p>
              <p class="text_2">
                12 V
              </p>
            </div>
            <div class="row-layout group_10">
              <p class="text_6">
                Pulleys Included  
              </p>
              <p class="text_2">
                2
              </p>
            </div>
          </div>
        </div>
        <div class="column-layout description">
          <h5 class="content_1">
            Product Description
          </h5>
          <div class="column-layout table">
            <div class="row-layout group_11">
              <igx-icon class="icon">
                check_circle
              </igx-icon>
              <p class="text_7">
                Key components are greased to help with long term reliability in harsh conditions
              </p>
            </div>
            <div class="row-layout group_11">
              <igx-icon class="icon">
                check_circle
              </igx-icon>
              <p class="text_7">
                Every unit is built with 100% NEW components that are designed to meet the highest quality standards
              </p>
            </div>
            <div class="row-layout group_11">
              <igx-icon class="icon">
                check_circle
              </igx-icon>
              <p class="text_7">
                Every unit is triple tested (component, subassembly and end of line) to ensure quality and performance
              </p>
            </div>
          </div>
          <p class="ig-typography__body-2 content_2">
            New Alternators are manufactured with all new components and are the ideal high quality replacement for many vehicles on the road today. Key components are lubricated to help with performance and long life reliability. Alternators have regulators that are computer tested for voltage stability, terminal function, and electronic circuit board integrity. These premium aftermarket replacement components are manufactured to meet your expectations for fit, form, and function. Some ACDelco Gold parts may have formerly appeared as ACDelco Professional.
          </p>
        </div>
      </div>
      <div class="column-layout also-purchased">
        <h5 class="content_1">
          Customers Also Purchased
        </h5>
        <div class="row-layout group_12">
          <igx-card class="card">
            <igx-card-media height="160px">
              <img src="/assets/Alternator1.jpg" class="image_2" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Gold Alternator
              </h3>
              <h5 igxCardHeaderSubtitle>
                SKU: A1234-01
              </h5>
            </igx-card-header>
            <igx-card-content class="body-content">
              <div class="row-layout group_13">
                <igc-rating [(ngModel)]="value" size="small" class="rating"></igc-rating>
              </div>
              <h6 class="content_4">
                $59.90
              </h6>
            </igx-card-content>
            <igx-card-actions class="actions-content">
              <button igxButton="flat" igxRipple class="button_1">
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
                <span>ADD TO CART</span>
              </button>
            </igx-card-actions>
          </igx-card>
          <igx-card class="card">
            <igx-card-media height="160px">
              <img src="/assets/Depositphotos_91150104_l-2015.jpg" class="image_2" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Tail Lamp Assembly
              </h3>
              <h5 igxCardHeaderSubtitle>
                SKU: A1234-01
              </h5>
            </igx-card-header>
            <igx-card-content class="body-content">
              <div class="row-layout group_13">
                <igc-rating [(ngModel)]="value1" size="small" class="rating"></igc-rating>
              </div>
              <h6 class="content_4">
                $19.90
              </h6>
            </igx-card-content>
            <igx-card-actions class="actions-content">
              <button igxButton="flat" igxRipple class="button_1">
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
                <span>ADD TO CART</span>
              </button>
            </igx-card-actions>
          </igx-card>
          <igx-card class="card">
            <igx-card-media height="160px">
              <img src="/assets/Depositphotos_39703145_l-2015.jpg" class="image_2" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Spark Plugs
              </h3>
              <h5 igxCardHeaderSubtitle>
                SKU: A1234-01
              </h5>
            </igx-card-header>
            <igx-card-content class="body-content">
              <div class="row-layout group_13">
                <igc-rating [(ngModel)]="value2" size="small" class="rating"></igc-rating>
              </div>
              <h6 class="content_4">
                $11.00
              </h6>
            </igx-card-content>
            <igx-card-actions class="actions-content">
              <button igxButton="flat" igxRipple class="button_1">
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
                <span>ADD TO CART</span>
              </button>
            </igx-card-actions>
          </igx-card>
          <igx-card class="card">
            <igx-card-media height="160px">
              <img src="/assets/Depositphotos_20993125_l-2015.jpg" class="image_2" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Oil Filters
              </h3>
              <h5 igxCardHeaderSubtitle>
                SKU: A1234-01
              </h5>
            </igx-card-header>
            <igx-card-content class="body-content">
              <div class="row-layout group_13">
                <igc-rating [(ngModel)]="value3" size="small" class="rating"></igc-rating>
              </div>
              <h6 class="content_4">
                $24.50
              </h6>
            </igx-card-content>
            <igx-card-actions class="actions-content">
              <button igxButton="flat" igxRipple class="button_1">
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
                <span>ADD TO CART</span>
              </button>
            </igx-card-actions>
          </igx-card>
          <igx-card class="card">
            <igx-card-media height="160px">
              <img src="/assets/Depositphotos_12011807_l-2015.jpg" class="image_2" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Headlight Assembly
              </h3>
              <h5 igxCardHeaderSubtitle>
                SKU: A1234-01
              </h5>
            </igx-card-header>
            <igx-card-content class="body-content">
              <div class="row-layout group_13">
                <igc-rating [(ngModel)]="value2" size="small" class="rating"></igc-rating>
              </div>
              <h6 class="content_4">
                $49.50
              </h6>
            </igx-card-content>
            <igx-card-actions class="actions-content">
              <button igxButton="flat" igxRipple class="button_1">
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
                <span>ADD TO CART</span>
              </button>
            </igx-card-actions>
          </igx-card>
          <igx-card class="card">
            <igx-card-media height="160px">
              <img src="/assets/Depositphotos_114068560_l-2015.jpg" class="image_2" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Winter Tires Set
              </h3>
              <h5 igxCardHeaderSubtitle>
                SKU: A1234-01
              </h5>
            </igx-card-header>
            <igx-card-content class="body-content">
              <div class="row-layout group_13">
                <igc-rating [(ngModel)]="value" size="small" class="rating"></igc-rating>
              </div>
              <h6 class="content_4">
                $44.50
              </h6>
            </igx-card-content>
            <igx-card-actions class="actions-content">
              <button igxButton="flat" igxRipple class="button_1">
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
                <span>ADD TO CART</span>
              </button>
            </igx-card-actions>
          </igx-card>
          <igx-card class="card">
            <igx-card-media height="160px">
              <img src="/assets/Depositphotos_51128759_l-2015.jpg" class="image_2" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Exhaust Pipe
              </h3>
              <h5 igxCardHeaderSubtitle>
                SKU: A1234-01
              </h5>
            </igx-card-header>
            <igx-card-content class="body-content">
              <div class="row-layout group_13">
                <igc-rating [(ngModel)]="value3" size="small" class="rating"></igc-rating>
              </div>
              <h6 class="h6">
                $34.50
              </h6>
            </igx-card-content>
            <igx-card-actions class="actions-content">
              <button igxButton="flat" igxRipple class="button_1">
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
                <span>ADD TO CART</span>
              </button>
            </igx-card-actions>
          </igx-card>
          <igx-card class="card">
            <igx-card-media height="160px">
              <img src="/assets/Depositphotos_63371615_l-2015.jpg" class="image_2" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Battery
              </h3>
              <h5 igxCardHeaderSubtitle>
                SKU: A1234-01
              </h5>
            </igx-card-header>
            <igx-card-content class="body-content">
              <div class="row-layout group_13">
                <igc-rating [(ngModel)]="value1" size="small" class="rating"></igc-rating>
              </div>
              <h6 class="h6">
                $24.95
              </h6>
            </igx-card-content>
            <igx-card-actions class="actions-content">
              <button igxButton="flat" igxRipple class="button_1">
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
                <span>ADD TO CART</span>
              </button>
            </igx-card-actions>
          </igx-card>
        </div>
      </div>
    </div>
  </div>
  <div class="row-layout sitemap">
    <div class="column-layout group_14">
      <p class="ig-typography__subtitle-2 content_1">
        Contact Us
      </p>
      <p class="ig-typography__body-2 content_1">
        1234 Street Name, CityName, ST
      </p>
      <p class="ig-typography__body-2 content_1">
         10520 United States
      </p>
      <p class="ig-typography__subtitle-2 text_8">
        Phone Number
      </p>
      <p class="ig-typography__body-2 content_1">
        1-234-567-8901
      </p>
    </div>
    <div class="column-layout table">
      <p class="ig-typography__subtitle-2 content_1">
        Help
      </p>
      <p class="ig-typography__body-2 content_1">
        FAQ
      </p>
      <p class="ig-typography__body-2 content_1">
        Returns
      </p>
      <p class="ig-typography__body-2 content_1">
        Coupons &amp; Discounts
      </p>
      <p class="ig-typography__body-2 content_1">
        Shipping &amp; Returns
      </p>
    </div>
    <div class="column-layout table">
      <p class="ig-typography__subtitle-2 content_1">
        About Us
      </p>
      <p class="ig-typography__body-2 content_1">
        Company Info
      </p>
      <p class="ig-typography__body-2 content_1">
        Press Releases
      </p>
      <p class="ig-typography__body-2 content_1">
        Careers
      </p>
      <p class="ig-typography__body-2 content_1">
        Reviews
      </p>
    </div>
    <div class="column-layout table">
      <p class="ig-typography__subtitle-2 content_1">
        Services
      </p>
      <p class="ig-typography__body-2 content_1">
        Buy Online
      </p>
      <p class="ig-typography__body-2 content_1">
        In-Store
      </p>
      <p class="ig-typography__body-2 content_1">
        Repair Help
      </p>
      <p class="ig-typography__body-2 content_1">
        Find a Repair Shop
      </p>
    </div>
    <div class="column-layout table">
      <p class="ig-typography__subtitle-2 content_1">
        Blog
      </p>
      <p class="ig-typography__body-2 content_1">
        Car Building Basics
      </p>
      <p class="ig-typography__body-2 content_1">
        Do it Yourself
      </p>
      <p class="ig-typography__body-2 content_1">
        Your Home Workshop
      </p>
      <p class="ig-typography__body-2 content_1">
        Advanced Bulding
      </p>
    </div>
  </div>
  <div class="row-layout footer">
    <p class="ig-typography__body-2 text_9">
      Copyright ©2021 AutoShop.com, Inc. All Rights Reserved.
    </p>
    <div class="row-layout group_15">
      <p class="ig-typography__body-2 text_10">
        Terms of Use
      </p>
      <p class="ig-typography__body-2 text_10">
        Privacy Policy
      </p>
      <p class="ig-typography__body-2 text_10">
        Site Map
      </p>
    </div>
  </div>
</div>
