<div class="column-layout page-content">
  <div class="column-layout inner-pages-header">
    <img src="/assets/AutoDeals_Logo.svg" class="image" />
    <p class="text">
      Enjoy 20% off on all your weekend purchases
    </p>
  </div>
  <div class="row-layout content">
    <div class="column-layout group">
      <h5 class="content_5">
        Shopping Cart
      </h5>
      <div class="row-layout group_1">
        <div class="column-layout group_2">
          <igx-list class="list">
            <igx-list-item [isHeader]="false">
              <span igxListThumbnail>
                <igx-avatar src="/assets/Alternator1.jpg" size="large" class="avatar"></igx-avatar>
              </span>
              <span igxListLine>
                <div class="row-layout group_3">
                  <div class="row-layout group_4">
                    <p class="content_1">
                      Gold Alternator 
                    </p>
                  </div>
                  <div class="row-layout group_5">
                    <p class="text_2">
                      Qty:
                    </p>
                    <div class="row-layout group_6">
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          remove
                        </igx-icon>
                      </button>
                      <p class="text_3">
                        1
                      </p>
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          add
                        </igx-icon>
                      </button>
                    </div>
                  </div>
                  <div class="row-layout group_7">
                    <p class="text_4">
                      $59.90
                    </p>
                  </div>
                </div>
              </span>
              <span igxListAction>
                <igx-icon class="icon">
                  remove_shopping_cart
                </igx-icon>
              </span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListThumbnail>
                <igx-avatar src="/assets/Depositphotos_91150104_l-2015.jpg" size="large" class="avatar"></igx-avatar>
              </span>
              <span igxListLine>
                <div class="row-layout group_3">
                  <div class="row-layout group_8">
                    <p class="text_5">
                      Tail Lamp Assembly
                    </p>
                  </div>
                  <div class="row-layout group_5">
                    <p class="text_2">
                      Qty:
                    </p>
                    <div class="row-layout group_6">
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          remove
                        </igx-icon>
                      </button>
                      <p class="text_3">
                        1
                      </p>
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          add
                        </igx-icon>
                      </button>
                    </div>
                  </div>
                  <div class="row-layout group_7">
                    <p class="text_4">
                      $19.50
                    </p>
                  </div>
                </div>
              </span>
              <span igxListAction>
                <igx-icon class="icon">
                  remove_shopping_cart
                </igx-icon>
              </span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListThumbnail>
                <igx-avatar src="/assets/Depositphotos_114068560_l-2015.jpg" size="large" class="avatar"></igx-avatar>
              </span>
              <span igxListLine>
                <div class="row-layout group_3">
                  <div class="row-layout group_8">
                    <p class="text_5">
                      Winter Tires Set
                    </p>
                  </div>
                  <div class="row-layout group_5">
                    <p class="text_2">
                      Qty:
                    </p>
                    <div class="row-layout group_6">
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          remove
                        </igx-icon>
                      </button>
                      <p class="text_3">
                        1
                      </p>
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          add
                        </igx-icon>
                      </button>
                    </div>
                  </div>
                  <div class="row-layout group_7">
                    <p class="text_4">
                      $59.90
                    </p>
                  </div>
                </div>
              </span>
              <span igxListAction>
                <igx-icon class="icon">
                  remove_shopping_cart
                </igx-icon>
              </span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListThumbnail>
                <igx-avatar src="/assets/Depositphotos_20993125_l-2015.jpg" size="large" class="avatar"></igx-avatar>
              </span>
              <span igxListLine>
                <div class="row-layout group_3">
                  <div class="row-layout group_4">
                    <p class="content_1">
                      Oil Filter
                    </p>
                  </div>
                  <div class="row-layout group_5">
                    <p class="text_2">
                      Qty:
                    </p>
                    <div class="row-layout group_6">
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          remove
                        </igx-icon>
                      </button>
                      <p class="text_3">
                        1
                      </p>
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          add
                        </igx-icon>
                      </button>
                    </div>
                  </div>
                  <div class="row-layout group_7">
                    <p class="text_4">
                      $59.90
                    </p>
                  </div>
                </div>
              </span>
              <span igxListAction>
                <igx-icon class="icon">
                  remove_shopping_cart
                </igx-icon>
              </span>
            </igx-list-item>
            <igx-list-item [isHeader]="false">
              <span igxListThumbnail>
                <igx-avatar src="/assets/Depositphotos_12011807_l-2015.jpg" size="large" class="avatar"></igx-avatar>
              </span>
              <span igxListLine>
                <div class="row-layout group_3">
                  <div class="row-layout group_8">
                    <p class="text_5">
                      Headlight Assembly
                    </p>
                  </div>
                  <div class="row-layout group_5">
                    <p class="text_2">
                      Qty:
                    </p>
                    <div class="row-layout group_6">
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          remove
                        </igx-icon>
                      </button>
                      <p class="text_3">
                        1
                      </p>
                      <button igxButton="icon" igxRipple>
                        <igx-icon>
                          add
                        </igx-icon>
                      </button>
                    </div>
                  </div>
                  <div class="row-layout group_7">
                    <p class="text_4">
                      $59.90
                    </p>
                  </div>
                </div>
              </span>
              <span igxListAction>
                <igx-icon class="icon">
                  remove_shopping_cart
                </igx-icon>
              </span>
            </igx-list-item>
          </igx-list>
        </div>
        <div class="column-layout group_9">
          <h6 class="content_1">
            Cart totals
          </h6>
          <div class="column-layout group_10">
            <div class="row-layout group_11">
              <p class="ig-typography__subtitle-2 content_2">
                Subtotal
              </p>
              <p class="content_3">
                $198.30
              </p>
            </div>
            <div class="row-layout group_11">
              <p class="ig-typography__subtitle-2 content_2">
                Shipping
              </p>
              <p class="content_3">
                $0
              </p>
            </div>
            <div class="column-layout group_12">
              <p class="ig-typography__body-2 text_4">
                Shipping wiil be calculated at checkout
              </p>
              <a target="_self" class="ig-typography__body-2 hyperlink">
                Estimate shipping
              </a>
            </div>
            <div class="row-layout group_11">
              <h6 class="content_2">
                Total
              </h6>
              <h6 class="content_3">
                $198.30
              </h6>
            </div>
          </div>
          <div class="row-layout group_13">
            <button igxButton="flat" igxRipple class="button">
              PROCEED TO CHECKOUT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-layout sitemap">
    <div class="column-layout group_14">
      <p class="ig-typography__subtitle-2 content_5">
        Contact Us
      </p>
      <p class="ig-typography__body-2 content_5">
        1234 Street Name, CityName, ST
      </p>
      <p class="ig-typography__body-2 content_5">
         10520 United States
      </p>
      <p class="ig-typography__subtitle-2 text_1">
        Phone Number
      </p>
      <p class="ig-typography__body-2 content_5">
        1-234-567-8901
      </p>
    </div>
    <div class="column-layout group_15">
      <p class="ig-typography__subtitle-2 content_5">
        Help
      </p>
      <p class="ig-typography__body-2 content_5">
        FAQ
      </p>
      <p class="ig-typography__body-2 content_5">
        Returns
      </p>
      <p class="ig-typography__body-2 content_5">
        Coupons &amp; Discounts
      </p>
      <p class="ig-typography__body-2 content_5">
        Shipping &amp; Returns
      </p>
    </div>
    <div class="column-layout group_15">
      <p class="ig-typography__subtitle-2 content_5">
        About Us
      </p>
      <p class="ig-typography__body-2 content_5">
        Company Info
      </p>
      <p class="ig-typography__body-2 content_5">
        Press Releases
      </p>
      <p class="ig-typography__body-2 content_5">
        Careers
      </p>
      <p class="ig-typography__body-2 content_5">
        Reviews
      </p>
    </div>
    <div class="column-layout group_15">
      <p class="ig-typography__subtitle-2 content_5">
        Services
      </p>
      <p class="ig-typography__body-2 content_5">
        Buy Online
      </p>
      <p class="ig-typography__body-2 content_5">
        In-Store
      </p>
      <p class="ig-typography__body-2 content_5">
        Repair Help
      </p>
      <p class="ig-typography__body-2 content_5">
        Find a Repair Shop
      </p>
    </div>
    <div class="column-layout group_15">
      <p class="ig-typography__subtitle-2 content_5">
        Blog
      </p>
      <p class="ig-typography__body-2 content_5">
        Car Building Basics
      </p>
      <p class="ig-typography__body-2 content_5">
        Do it Yourself
      </p>
      <p class="ig-typography__body-2 content_5">
        Your Home Workshop
      </p>
      <p class="ig-typography__body-2 content_5">
        Advanced Bulding
      </p>
    </div>
  </div>
  <div class="row-layout footer">
    <p class="ig-typography__body-2 text_6">
      Copyright ©2021 AutoShop.com, Inc. All Rights Reserved.
    </p>
    <div class="row-layout group_16">
      <p class="ig-typography__body-2 text_7">
        Terms of Use
      </p>
      <p class="ig-typography__body-2 text_7">
        Privacy Policy
      </p>
      <p class="ig-typography__body-2 text_7">
        Site Map
      </p>
    </div>
  </div>
</div>
