<div class="row-layout group">
  <div class="row-layout group_1">
    <button igxButton="flat" igxRipple routerLink="/all-products" class="button">
      Auto Body Parts
    </button>
    <button igxButton="flat" igxRipple class="button">
      Lighting
    </button>
    <button igxButton="flat" igxRipple class="button">
      Engine &amp; Drivetrain
    </button>
    <button igxButton="flat" igxRipple class="button">
      Brakes &amp; Suspension
    </button>
    <button igxButton="flat" igxRipple class="button">
      Engine &amp; Drivetrain
    </button>
    <button igxButton="flat" igxRipple class="button">
      Interior
    </button>
    <button igxButton="flat" igxRipple class="button">
      Exterior
    </button>
  </div>
  <div class="row-layout group_2">
    <button igxButton="icon" igxRipple class="button_1">
      <igx-icon>
        search
      </igx-icon>
    </button>
    <button igxButton="icon" igxRipple class="button_1">
      <igx-icon>
        account_circle
      </igx-icon>
    </button>
    <button igxButton="icon" igxRipple routerLink="/shopping-cart" class="button_1">
      <igx-icon>
        shopping_cart
      </igx-icon>
    </button>
  </div>
</div>
<div class="view-container">
  <router-outlet></router-outlet>
</div>
